@font-face {
  font-family: '{{& package.name}}';
  src:
      url({{& font_base_path}}.woff2) format('woff2'),
      url({{& font_base_path}}.woff) format('woff');
  font-weight: {{& weight_number}};
  font-display: swap;
  unicode-range: {{& unicodes}};
}
