[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fonttools = "*"
brotli = "*"
zopfli = "*"
pyyaml = "*"
requests = "*"
pystache = "*"
faker = "*"
logzero = "*"

[dev-packages]
pylint = "*"
yapf = "*"
mypy = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python -m prepare_tool"
